* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  background-color: rgba(211, 211, 211, 0.805);
  width: 31.7%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 0 0 3px gray;
}
.top {
  display: flex;
}
.topleft {
  width: 50%;
}
.topleft p {
  padding: 10px;
  font-size: 15px;
}
.topleft img {
  width: 15px;
  padding: 5px 10px 0 10px;
}
.topleft img:hover {
  width: 15px;
  padding: 5px 10px 0 10px;
  background-color: rgb(165, 165, 165);
}
.grey {
  color: gray;
}
.topright {
  width: 50%;
  height: 35vh;
}
.topright img {
  width: 10px;
}
.topright tr td {
  padding: 10px;
}
.topright tr td:hover {
  padding: 10px;
  background-color: rgb(165, 165, 165);
}
.topright table {
  margin-left: 60px;
}
#close:hover{
  background-color: rgba(255, 0, 0, 0.738);
}
#size {
  padding: 5px;
  display: inline;
  width: 16px;
}
#size:hover {
  background-color: rgb(165, 165, 165);
  display: inline;
  width: 16px;
}
.iconflex {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.topleft table {
  display: flex;
  padding: 5px;
}
.MC table {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.MC th {
  margin: 0;
  padding: 15px;
}
.MC th:nth-child(3):hover {
  background-color: rgb(165, 165, 165);
  margin: 0;
  padding: 15px;
}
.MC th:nth-child(4):hover {
  background-color: rgb(165, 165, 165);
  margin: 0;
  padding: 15px;
}
.MC th:nth-child(5):hover {
  background-color: rgb(165, 165, 165);
  margin: 0;
  padding: 15px;
}

.bottom table td {
  background-color: rgb(239, 239, 239);
}
.bottom table th {
  background-color: white;
  padding: 15px;
}
.bottom table tr td {
  border-collapse: collapse;
  padding: 15px;
  width: 60px;
  text-align: center;
}
.bottom img {
  width: 15px;
}
.bottom tr:last-child td:last-child {
  background-color: rgba(68, 134, 255, 0.476);
}
.bottom tr:last-child td:last-child:hover {
  background-color: rgb(100, 148, 237);
}
.bottom td:hover {
  background-color: rgba(165, 165, 165, 0.698);
}
.bottom th:hover {
  background-color: rgba(165, 165, 165, 0.686);
}
